[Desktop Entry]
Exec=newaqemu
Terminal=false
Type=Application
Icon=aqemu
StartupNotify=true
Categories=System;Emulator;

Name=newaqemu
Comment=Virtual machine manager
Name[id_ID]=newaqemu.desktop
