[Desktop Entry]
Exec=newaqemu
Terminal=false
Type=Application
Icon=newaqemu
StartupNotify=true
Categories=System;Emulator;

Name=newaqemu
Comment=Virtual machine manager for modern Linux (QEMU + GPU passthrough)
Name[ru]=newaqemu
Comment[ru]=Управление виртуальными машинами для современного Linux
